# --- Godot Específico ---
# Carpeta de datos de importación y caché de Godot 4
.godot/

# Archivos de importación (se regeneran automáticamente al abrir el proyecto)
*.import

# Binarios de exportación de escritorio
*.exe
*.zip
*.o
*.so
*.a
*.bundle
*.dylib
*.pck
*.app

# --- Web Export ---
# Ignoramos la carpeta de exportación para que no se mezcle con el código fuente
export_web/

# --- Archivos del Sistema / Editores ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Logs y Temporales ---
*.log
